OPENAI_API_KEY=tu_llave_openai_aqui
DSPACE_URL=https://tudspace.cl/server/api
DSPACE_EMAIL=tu_usuario@institucion.cl
DSPACE_PASSWORD=tu_contrasena_aqui
DSPACE_COLLECTION_UUID="804c621d-cef2-413b-b5c2-19b008ee8499"
DSPACE_COLLECTION_HANDLE="20.500.11944/184975" 