# Secretos y variables de entorno
.env

# Entornos virtuales y temporales de Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Archivos de datos, imágenes y SAF (No subir a GitHub)
Fotos/
fotos/
SimpleArchiveFormat/
SAF/
*.csv

# Binarios y JDK pesados
jdk/
maven/
SAFBuilder-master/

# Archivos del sistema u oficina
Thumbs.db
.DS_Store
*.lock
.~lock.*
